<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- rewrite xsd files - add "extra" to xsd -->
    <preference for="Magento\Widget\Model\Config\SchemaLocator"
                type="Inkl\WidgetExtXsd\Rewrite\Magento\Widget\Model\Config\SchemaLocator"/>

    <type name="Magento\Widget\Model\Config\Converter">
        <plugin name="Inkl_WidgetExtXsd_Plugin_Magento_Widget_Model_Config_ConverterPlugin"
                type="Inkl\WidgetExtXsd\Plugin\Magento\Widget\Model\Config\ConverterPlugin"
        />
    </type>
</config>
